*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color-hero-background: #2E2F42;
    --color-body: #434455;
    --color-h1-font: #fff;
    --color-button-order-service-font: #fff;
    --color-button-order-service-background: #4D5AE5;
    --color-features-h3: #2E2F42;
    --color-whatarewedoing-h2: #2E2F42;
    --color-ourteam-background: #F4F4FD;
    --color-ourteam-h2: #2E2F42;
    --color-ourteam-h3: #2E2F42;
    --color-logo-web: #4D5AE5;
    --color-logo-studio: #2E2F42;
    --color-logo-studio-footer: #F4F4FD;
    --color-footer-body-font: #F4F4FD;
    --color-footer-background: #2E2F42;
    --color-header-navmenu-font: #2E2F42;
    --color-address-detail-font: #434455;
    --color-filter-button-font: #4D5AE5;
    --color-filter-button-boder: #E7E9FC;
    --color-filter-button-background: #F4F4FD;
    --color-portfolio-project-card-font: #2E2F42;
}
body{
    font-family: "Roboto", sans-serif;
    color:var(--color-body);
}

/*Header*/

/* Logo */

.logo{
    text-decoration: none;
}
.logo-web{
    color: var(--color-logo-web);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.logo-studio{
    color: var(--color-logo-studio);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* Header Nav Menu */

.header-nav-menu{
    list-style: none;
}
.header-nav-menu-item-link{
    color: var(--color-header-navmenu-font);
    text-decoration: none;
    /* Body Medium */
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;

}
.header-nav-menu-item-link:hover{
    --color-header-navmenu-font: #404BBF;
    color: var(--color-header-navmenu-font);
}
.header-nav-menu-item-link:focus{
    --color-header-navmenu-font:#404BBF;
    color: var(--color-header-navmenu-font);
}
.header-nav-menu-item-link:active{
    --color-header-navmenu-font: #404BBF;
    color: var(--color-header-navmenu-font);
}
.header-nav-menu-studio.active{
    --color-header-navmenu-font: #404BBF;
    color: var(--color-header-navmenu-font);
}
.header-nav-menu-portfolio.active{
    --color-header-navmenu-font: #404BBF;
    color: var(--color-header-navmenu-font);
}

/* Header Address */

.adress-detail-list{
    list-style: none;
}
.adress-detail-list-item-link{
    color: var(--color-address-detail-font);
    text-decoration: none;
    /* Body */
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
.adress-detail-list-item-link:hover{
    --color-address-detail-font: #404BBF;
    color: var(--color-address-detail-font);
}
.adress-detail-list-item-link:focus{
    --color-address-detail-font: #404BBF;
    color: var(--color-address-detail-font);
}
.adress-detail-list-item-link:active{
    --color-address-detail-font: #404BBF;
    color: var(--color-address-detail-font);
}

/* Index Main Body */ 

/* Hero Section */

.hero{
    background-color: var(--color-hero-background);
}

.main-page-header{
    color: var(--color-h1-font);
    text-align: center;
    font-size: 56px;
    line-height: 1.07em;
    letter-spacing: 1.12px;
}
.button-order-services{
    cursor: pointer;
    border-radius: 4px;
    background: var(--color-button-order-service-background);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    /* Button Text */
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
    color: var(--color-button-order-service-font);
}
.button-order-services:hover{
    --color-button-order-service-background: #404BBF;
    background: var(--color-button-order-service-background);
}
.button-order-services:focus{
    --color-button-order-service-background: #404BBF;
    background: var(--color-button-order-service-background);
}
.button-order-services:active{
    --color-button-order-service-background: #404BBF;
    background: var(--color-button-order-service-background);
}

/* Feature Section */

.section-features-title{
    display: none;
}
.feature-list{
    list-style: none;
}
.feature-list-item-title{
    /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    color: var(--color-features-h3);
}
.feature-list-item-body{
    /* Body */
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}

/* What are we doing Section */

.what-are-we-doing-list {
    list-style: none;
}
.section-what-are-we-doing-title{
    color: var(--color-whatarewedoing-h2);
    text-align: center;
        /* Header 2 */
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

/* Our Team Section */

.section-our-team{
    background-color: var(--color-ourteam-background);
}
.section-our-team-title{
    color: var(--color-ourteam-h2);
    text-align: center;
        /* Header 2 */
    font-size: 36px;
    line-height: 1.11em;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}
.our-team-card-list-item-title{
    color: var(--color-ourteam-h3);
    text-align: center;
        /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}
.our-team-card-list-item-body{
    text-align: center;
        /* Body */
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;

}
.our-team-card-list{
    list-style: none;
}

/* Footer */

footer{
    background-color: var(--color-footer-background);
}
.footer-body{
    color:var(--color-footer-body-font);
        /* Body */
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
.logo-studio-footer{
    color: var(--color-logo-studio-footer);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16em;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* Portfolio Page */

/* Main */

/* Filter Section */

.section-categories-title{
    display: none;
}
.categories-filter-list{
    list-style: none;
}
.categories-filter-list-item-button{
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--color-filter-button-boder);
    background: var(--color-filter-button-background);

    color: var(--color-filter-button-font);
    text-align: center;
        /* Button Text */
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.64px;
}
.categories-filter-list-item-button:hover{
    --color-filter-button-font:#FFF;
    color: var(--color-filter-button-font);

    --color-filter-button-background:#404BBF;
    background: var(--color-filter-button-background);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 
     0px 2px 1px 0px  rgba(0, 0, 0, 0.08), 
     0px 3px 1px 0px  rgba(0, 0, 0, 0.10);
}  
.categories-filter-list-item-button:active{
    --color-filter-button-font: #FFF;
    color: var(--color-filter-button-font);

    --color-filter-button-background: #404BBF;
    background: var(--color-filter-button-background);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 2px 1px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.categories-filter-list-item-button:focus{
    --color-filter-button-font: #FFF;
    color: var(--color-filter-button-font);

    --color-filter-button-background: #404BBF;
    background: var(--color-filter-button-background);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
        0px 2px 1px 0px rgba(0, 0, 0, 0.08),
        0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

/* Project Card Section */

.section-projects-title{
    display: none;
}
.project-list {
    list-style: none;
}
.project-list-item-title{
    color: var(--color-portfolio-project-card-font);
        /* Header 3 */
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}
.project-list-item-category{
    /* Body */
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.32px;
}
